:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*elementos base*/
body{
   background: rgba(0, 0, 0, 0.596);
   font-family: 'Trebuchet MS', Arial, sans-serif;
   color:white;
   background-color: #141414;
   min-width: 370px;
}

.container{
    margin: 0;
    padding: 0;
}

/* elenco */
section.elenco{
    margin: 15px 7px;

    text-align: center;
}
section.elenco h4{
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.781);
}

section.elenco .traco{
    color: white;
    width: 12%;
    background-color: rgba(102, 102, 102, 0.822);
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 1300px;
    
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}
header .fim-menu{
    margin-right: 10px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:rgba(255, 0, 0, 0.527);
    letter-spacing: 0.6px;
    text-decoration: none;
    font-weight: bold;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/capa-house.jpg');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-top: 2px solid red;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 20px;
    color: rgba(253, 253, 253, 0.671);
}


.filme-principal .titulo{
    color: rgba(255, 255, 255, 0.808);
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal p.descricao:hover, .filme-principal h3.titulo:hover {
    letter-spacing: 0.65px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}

.botao a{
    text-decoration: none;
    color: white;
}
.botao a:hover{
    text-decoration: none;
    color: black;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}



.carrosel-filmes{
    margin-top:5px;
}

.carrousel-filmes .owl-theme{
    scroll-behavior:smooth;
}

footer{
    margin-top: 7px;
    margin-bottom: 7px;
}

footer .container{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    font-size:15px;
    align-items: stretch;
    margin: 15px;
    
    
}
div.inicio-footer{
    height: 2px;
    width: 100vw;
    background-color: red;
    margin-top: 3px;
    color: rgba(255, 0, 0, 0);
}
footer, footer a {
    color:#AAA
}

footer{
    background-color: #141414;
    margin-top: 0;
    border-top: 1px solid black;
    height: 20vh;
}

footer a:hover {
    text-decoration: none;
    color: #AAA;
}

.container-ext{
    max-width: 1300;
}

footer .container p{
    margin-top: 10px;
}
















